img { /* make images responsive */
  max-width: 100%;
  height: auto;
}
figure > img { /* center images inside figures */
  margin: auto;
}
figure { /* center text inside figures */
  text-align: center;
}
